<div class="d-flex justify-content-between flex-wrap flex-md nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Edit User</h1>
  <div class="btn-toolbar mb-2 mb-md 0">
    <div class="btn-group me-2">
    </div>
  </div>
</div>
<% messages.forEach(msg => { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <%= msg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<% }) %>
<div class="col py-3">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/user">Users</a></li>
          <li class="breadcrumb-item active">Edit User</li>
        </ol>
      </nav>
    </div>
  </div>

</div>


<form action="/user/edit/<%= user._id %>?_method=PUT" method="POST">

  <div class="row form-group mb-4">
    <div class="col">
      <label for="first_name">First Name</label>
      <input type="text" class="form-control" id="first_name" name="first_name" value="<%= user.first_name %>" placeholder="First Name" required>
    </div>

    <div class="col">
      <label for="last_name">Last Name</label>
      <input type="text" class="form-control" id="last_name" name="last_name" value="<%= user.last_name %>" placeholder="Last Name" required>
    </div>
  </div>

  <div class="row form-group mb-4">
    <div class="col">
      <label for="user_type">User Type</label>
      <select class="form-control" id="user_type" name="user_type">
        <option value="admin" <%= user.user_type === 'admin' ? 'selected' : '' %>> Admin </option>
        <option value="user" <%= user.user_type === 'user' ? 'selected' : '' %>> User </option>
      </select>
    </div>

    <div class="col">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" placeholder="Email" required disabled>
    </div>
  </div>


  <div class="row form-group mb-4">
    <div class="col">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" value="" placeholder="Password">
    </div>

    <div class="col">
      <label for="confirm_password">Confirm Password</label>
      <input type="password" class="form-control" id="confirm_password" name="confirm_password" value="" placeholder="Confirm Password">
    </div>
  </div>

  <div class="form-group mb-4">
    <button type="submit" class="btn btn-primary">Update</button>
  </div>

</form>